.calculator {
    width: 20em;
    background-color: #9c89b8;
    border-radius: 1.25em;
    padding: 1.5em 1.25em;
    box-shadow: 0px 0px 0.5em rgba(255, 255, 255, 0.1);

}

.input {
    color: #3c096c;
    background-color: #dedbd2;
    height: 1.75em;
    font-size: 2em;
    text-align: right;
    padding: 0.3em 0.4em 0 0;
    margin-bottom: 0.8em;
    border-radius: 0.3em;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5em;
}

.calculatorButton,
.operations,
.modifiers,
.zero {
    color: #5a189a;
    font-size: 1.5em;
    line-height: 2.5em;
    text-align: center;
    border: none;
    box-shadow: 0.1em 0.1em 0.5em rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.calculatorButton {
    background-color: #b0c4b1;
    border-radius: 50%;
}

.zero {
    grid-column: span 2;
    background-color: #b0c4b1;
    border-radius: 3em;
}

.zero:hover,
.calculatorButton:hover {
    background-color: #9ecaa0;
}

.operations {
    background-color: #edafb8;
    font-weight: bold;
    border-radius: 50%;
}

.operations:hover {
    background-color: #f4a1ad;
}

.operations:active {
    color: #ffa500;
    background-color: white;
}

.modifiers {
    background-color: #b8bedd;
    font-weight: bold;
    border-radius: 50%;
}

.modifiers:hover {
    background-color: #abb6e4;
}