.calculator {
    width: 350px;
    background-color: #9c89b8;
    border-radius: 20px;
    padding: 30px 20px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
}


.input {
    height: 36px;
    font-size: 36px;
    text-align: right;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #dedbd2;
    border-radius: 10px;
    color: #3c096c;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button,
.operations,
.modifiers,
.zero {
    color: #5a189a;
    font-size: 28px;
    line-height: 70px;
    text-align: center;
    border: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease;

}

button {
    background-color: #b0c4b1;
    border-radius: 50%;
}

.zero {
    grid-column: span 2;
    background-color: #b0c4b1;
    border-radius: 50px;
}

.zero:hover,
button:hover {
    background-color: #9ecaa0;
}

.operations {
    background-color: #edafb8;
    font-weight: bold;
    border-radius: 50%;
}

.operations:hover {
    background-color: #f4a1ad;
}

.operations:active {
    color: #ffa500;
    background-color: white;
}

.modifiers {

    background-color: #b8bedd;
    font-weight: bold;
    border-radius: 50%;
}

.modifiers:hover {
    background-color: #abb6e4;
}